.section__project{
   background: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(0,150,255,1) 15%, rgba(0,212,255,1) 100%);  
   border-radius: 10px;    
   position: relative;
   padding: 5rem 0;
   width:100%;

   margin: 1rem auto;
   margin-top: 4rem;

   @media screen and (max-width: 750px) {
      width: auto;
      height: auto;
      margin: 0;
      width: 100vw;
              padding-bottom: 15rem;
              background: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(0,150,255,1) 5%, rgba(0,212,255,1) 100%);  
   }
}