.container--language {
   position: fixed;
   top: 30px; 
   right: 30px; 
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
 
   padding: 1rem;
}

.container--language::before, 
.container--language::after {
   content: "";
   width: 3.5rem;
   height: 2.5rem;
   display: block;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 3px;
}

.container--language::before {
   background-image: url('/img/icons/eeuu.png');
}

.container--language::after {
   background-image: url('/img/icons/argentina2.png');
}

.checkbox {
   display: none;
}

.btnSwich {
   background-color: #444;
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 5px;
   border-radius: 50px;
   height: 26px;
   width: 50px;
   position: relative;
   transition: all 0.2s ease-out;
   cursor: pointer;
}

.btnSwich::before {
   content: "";
   position: absolute;
   background-color: #f00;
   border-radius: 50%;
   top: 2px;
   left: 2px;
   height: 22px;
   width: 22px;
   transition: all 0.2s ease-out;
   cursor: pointer;
}

.checkbox:checked ~ .btnSwich::before {
   transform: translateX(22px); /* Desplaza el círculo al hacer hover */
   background-color: #08f; /* Cambia de color */
}
