$max-width: 1100px;
$image-max-width: 500px;

.bg_custom {
  background-color: $colorBgDark ;
  color: $colorTertiary !important;
 // @include bgGradient;

}

.bg_custom--darken {
  color: $colorTertiary !important;
  // @include bgGradientInvert;
}
.container-custom {
  //max-width: $max-width;
  @media (max-width: 1100px) {
    max-width: max-content;
  }

  .row-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;

    gap: 4rem;
    @include respond(phone) {
      gap: 2rem;
    }
    @include respond(desktop) {
      width: 90vw;
      gap: 1rem;
    }
    @media (min-width: 1700px) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .reOrder-firstChild {
    order: 2;
    @media (max-width: 1700px) {
      order: 1 !important;
    }
  }
  .reOrder-secondChild {
    order: 1;

    @media (max-width: 1700px) {
      order: 2 !important;
    }
  }
  .image-wrapper {
    display: flex;
    justify-content: flex;
    align-items: center;
    flex-direction: column;
    height: min-content;
    @media (max-width: 1700px) {
      justify-content: center;
    }
    @include respond(ipad) {
      max-width: 100%;
      margin: auto;
    }
    img {
      min-width: 600px;
      max-width: $image-max-width;
      object-fit: cover;
      border-radius: 8px;
      border-radius: 3px;
      box-shadow: 0px 0px 30px rgba($colorHighlight, 0.4);
      @include respond(ipad) {
        min-width: 0;
        max-width: 95vw;
        box-shadow: 0px 0px 15px rgba($colorHighlight, 0.4);
      }
    }
    .content-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 1.5rem;

      @media (min-width: 768px) {
        margin-top: 0;
      }
    }
  }

  &.image-left {
    .row-custom {
      flex-direction: row-reverse;
    }
  }
}
.card-subtitle {
  //font-size: $section-tittle--phone;
  @include fontUno;
  @include respond(phone) {
    // font-size: $section-tittle--phone *.8;
  }
}
.project-big-title {
  text-align: center;

  @include respond(phone) {
    margin-bottom: 1rem;
  }
}
.project-big--subtitle{
  font-size: $section-subtittle;
    @include respond(phone) {
  font-size: $section-subtittle--phone;
  }
}
.card-text,
.card-bullet {
  text-align: left;
}
li::marker {
  color: $colorHighlight;
}
.custom__project__link {
  padding: 0 1.5rem;
  gap: 2rem;

  padding: 1rem 0;
  transform: scale(1.2);
  font-style: italic;
  @include respond(phone) {
    // justify-content: flex-start;
    // margin-top: 10rem;
    width: 100%;
    gap: 1rem;

    padding-bottom: 0;
    transform: scale(0.8);
  }
  display: flex;
  justify-content: center;
  /*this is for links show at the bottom of the container, but only in desktop, so in mobile and ipad is not a lot of empty space*/
  color: #fff !important;
  //margin-top: 2rem;
  &--github {
    transform: scale(1.7);
  }

  a {
    text-decoration: underline;
    text-transform: none;
    color: $colorCard;
    
    //font-size: $section-subtittle;
    letter-spacing: 1px;
    @include respond(phone) {
      letter-spacing: 0;
    }
    font-family: "Ibarra Real Nova", serif;
    width: min-content;
    &:hover {
      //00992D | ff9d00
      color: $colorHighlight;

      // color: $colorPurprle;
    }
  }
}

.custom__project__tecnology {
  flex-wrap: wrap;
  transform: scale(0.9);
  @include respond(phone) {
    transform: scale(0.7);
  }
}

.big_project {
  &-title {
    margin-bottom: 1rem;

    @include respond(phone) {
    }
  }
}

.project__link--demo a {
  text-underline-offset: 5px;
  transition: color 0.3s ease;

  &:hover {
    color: $colorHighlight;
  }
}
.project--big-subtitle {
  font-size: $section-subtittle * 1.3;
  color: $colorHighlight;

  // color: $colorHighlight;
  @include respond(phone) {
    font-size: $section-subtittle--phone;
  }
}
