.lpWebsite {
  &__proyectos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    @include respond(ipad) {
      //flex-direction: column;
    }
  }
  &__description{
    margin-bottom: 2rem;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    width: 20%;
    max-width: 20%;



    text-decoration: none !important;
    @include respond(ipad) {
      width: 40%;

      max-width: 40%;

    }
    &:hover {
      cursor: pointer;
    }
    &:hover .lpWebsite__img {
      box-shadow: 0px 0px 40px rgba($colorHighlight, 0.6);
    }
    &:hover .lpWebsite__link {
      color: $colorHighlight;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba($colorHighlight, 0.4);

    transition: box-shadow 0.3s ease;
    @include respond(phone) {
      box-shadow: 0px 0px 15px rgba($colorHighlight, 0.4);
      max-width: 90vw;
      height: auto;
    }
  }

  &__link {
    text-underline-offset: 5px;
    text-decoration: underline;
    color: $colorSecondary;
    @include respond(phone) {
      font-size: $section-subtittle--phone * 0.9;
    }
  }
}
