
.open{
   &__text{
      
         // font-size: $fontBig;
      
      
   }
   &__title{
      text-transform: uppercase;
      font-size: $section-tittle;

   }
   &__subtitle{
      font-size: $section-subtittle;
   }
   &__content{
      display: flex;
      flex-direction: column;
text-align: center;
gap: 1rem;
      &--tittle{
         font-size: 5rem;
         color: #fff;
         text-shadow: 0 0 5px black;
      }
      &--subTittle{
         font-size: 1.5rem;
         color: #fff;
         text-shadow: 0 0 5px black;
      }
   }
}


.background,
.foreground,
.backgroundMiddle,
.section__text--foto{
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -1;
}

.background{
   /* the translate put the image far away from the screen (together with the perspective from wrapper, and with scale we put the normal size) */
   transform: translateZ(-10px) scale(2);
   filter: brightness(1.2);
}
.backgroundMiddle{
   transform: translateZ(-7px) scale(1.7);
   /* background-position: -50px; */
   /* background-attachment: 0 -50; */
   filter: brightness(.35);


}
.foreground{
   transform: translateZ(-1px) scale(1.1);
   filter: brightness(.75);

   
}
.tittle{
   font-size: 7rem;
   color: #fff;
   text-shadow: 0 0 5px black;
}
.asd{
   font-size: 2rem;
 
   color: #fff;
}


.capaFondo{
   width: 100%;
   height: 100%;
   position: absolute;

   &Uno{
      background-image: linear-gradient(to top, #020 , #1A1E0D 5%,transparent 40%);
      opacity: 85%;
      filter: brightness(.2) ;
   
   }
   &Dos{
   
   
      // height: 150vh;
      background-image: linear-gradient(to bottom,  rgb(00,10,00) 10%,transparent 40%);
   
      opacity: 95%;
      background-size: cover;
      // background-attachment: fixed;
     
     
   
   }

}
.section__text--foto{
   // filter: brightness(.2);
   object-fit:cover;
   
}
.imgFondo{
    background-image: url('/img/imgBg/hojas.jpg');  
   // filter: brightness(.2);
   background-size: cover;
   background-attachment: fixed;


}
.div{
   filter: blur(0);
height: 1rem;
width: 100%;
background-color: #1A1E0D;
}