
.container__tittle{
   width: 100vw;
   text-align: center;
   padding-bottom: 4rem;
   font-size: $section-tittle;
   color: white;
   text-shadow: 0 0px 1px #000;

   @include fontUno;
   
   @include respond(phone){
      font-size: $section-tittle--phone;
   }
}
.proyectos{
   position: relative;
   width: 70vw;
   height: 100%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   // align-items: center;
   justify-items: center;
   justify-content: center;
   margin: auto;

  @include respond(desktop){

   width: 90vw;


    gap: 2rem;

  }
  @include respond (ipad){
   grid-template-columns: 1fr;
gap: 3rem;
  }
  @include respond(phone){
   width: 90vw;

   gap: 5rem;

  }
}

$colorProject : rgba(#fff ,1);
@mixin terra {
   background-image: url('/img/imgBg/tierra.jpg');  

}
$bgProject: #fff;
.container__project{
   /* border: 2px solid red; */
   display: flex;
   box-shadow: 0px 0px 8px #222;
   width: 900px;
   max-width: 400px;
   flex-direction: column;
   border-radius: 3px;
   // margin: 3% 5%;
   margin-bottom: 2rem;
   padding-bottom: 1rem;
   border-radius: 3px;
   // padding: 1rem .4rem;
overflow: hidden;
   gap: 1.5rem;
   margin-bottom: 5rem;
   background-color: $colorProject;

   @include respond(ipad){
         margin: 0;
         padding-bottom: 0;
         // max-width: 600px;
         width: auto; 
          max-height: unset;
         //   flex-direction:row;
          gap: 1.5rem;
      
   }
   @include respond(phone){
      gap: 0rem;

      padding-bottom: .5rem;
      width: auto;
      box-shadow: 0px 2px 7px -4px   black;
      padding:  0;

      padding-bottom: 1rem;
      flex-direction: column;
    
   }
   }

   
   .project__img{
      max-width: 100%;
     height: 18rem;
   //   margin: auto .5rem;
 
     position: relative;
     overflow: hidden;
     @include respond(ipad){
         min-width: 16rem;
         // max-width: 16rem;
         // height: 17rem;
     }
     @include respond(phone){
      min-width: 100%;
      height: 14rem;
  }
     img{
      transition: all .2s ease-out;
      height: 5rem;
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 5px black;
      /* filter: brightness(.8);  */
   }
   &:hover img{
      transform: scale(1.1);
      filter: brightness(80%);
      
   }
   @include respond(ipad){
      width: 30rem; 
      box-shadow: 0px 1px 5px   black;
   }
   @include respond(phone){
      width: inherit;
      margin: 0;
   }
}
   
   .project{
      &__content{
         // background-color: $colorProject;
         color: $colorPrimary;
         padding: 0 1.5rem;
         p{
            font-size: 1.1rem;

         }
         @include respond(ipad){
            padding: 0;
         }
         @include respond(ipad){
            padding: 0 1rem;
         }
      }
      &__tittle h3{
         font-size: 2rem;
         margin-bottom: .3rem;
         @include fontUno;
      }
      @include respond(phone){
         &__tittle h3{
            margin-top: 1.5rem;
         }
      }
      &__description p{
         margin: .5rem 0;
      }
      &__tecnology{
         display: flex;
         /* width: 100vw; */
         justify-content: center;
      }
      &__tecnology span{
         padding: .2rem;
         color: $colorPrimary;
      transform: scale(.9);
      transition: all .1s ease;
      @include fontUno;
         &:hover{
            transform: rotate(5deg);
         }
      
      }
      &__link{
         /* border: 1px solid purple; */
         display: flex;
         gap: 1rem;
         font-weight: 1000;
         padding: 1rem 0;
 
 
         
      }
      &__link :hover{
         color: #888;
        
      }
      &__link--github{
         transform: scale(1.7);
       
      }
      &__link a{
         text-decoration: underline; 
         text-transform: none;
         color: $colorPrimary;
         font-family: 'Roboto', sans-serif;

       }
       &__content{
         display: flex;
         justify-content: center;
         flex-direction: column;
      }
   }

   
 
   

