$colorProject : rgba($colorBgDark, .8);
$colorCard: #F0FFF4;

.container__tittle {
   width: 100vw;
   text-align: center;
   padding-bottom: 4rem;
   font-size: $section-tittle;
   color: $colorTittle;
   text-shadow: 0 0px 1px #000;
   @include fontUno;

   @include respond(phone) {
      font-size: $section-tittle--phone;
   }
   h2{
      
      @include respond (desktop) {
         font-size: $section-tittle--medium;
      }
    
    
   }
   
}

.proyectos {
   position: relative;
   width: 100%;
   height: 100%;
   padding: 0 15%;
   display: grid;
   grid-template-columns: repeat(2, .5fr);
   //  align-items: center;
   justify-items: center;
   justify-content: center;
   margin: auto;


   @include respond(desktop) {
      gap: 2rem;

   }

   @include respond (ipad) {
      grid-template-columns: 1fr;
      gap: 3rem;
   }

   @include respond(phone) {
      gap: 5rem;

   }
}


@mixin terra {
   background-image: url('/img/imgBg/tierra.jpg');

}



.container__project {
   /* border: 2px solid red; */
   display: flex;
   box-shadow: 0px 0px 8px $colorBgDark;
   width: 900px;
   max-width: 400px;
   flex-direction: column;
   border-radius: 3px;
   // margin: 3% 5%;
   margin-bottom: 2rem;
   padding-bottom: 1rem;
   border-radius: 3px;
   // padding: 1rem .4rem;
   overflow: hidden;
   gap: 1.5rem;
   margin-bottom: 5rem;
   background-color: $colorProject;

   @include respond(ipad) {
      margin: 0;
      padding-bottom: 0;
      // max-width: 600px;
      width: auto;
      max-height: unset;
      //   flex-direction:row;
      gap: 1.5rem;

   }

   @include respond(phone) {
      gap: 0rem;
      min-width: 95vw;
      max-width: 95vw;
      padding-bottom: .5rem;
      width: auto;
      box-shadow: 0px 2px 7px -4px black;
      padding: 0;

      padding-bottom: 1rem;
      flex-direction: column;

   }
}


.project__img {
   max-width: 100%;
   height: 18rem;
   //   margin: auto .5rem;

   position: relative;
   overflow: hidden;

   @include respond(ipad) {
      min-width: 16rem;
      // max-width: 16rem;
      // height: 17rem;
   }

   @include respond(phone) {
      min-width: 100%;
      height: 14rem;
   }

   img {
      transition: all .2s ease-out;
      height: 5rem;
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 5px black;
      object-fit: cover;
      /* filter: brightness(.8);  */
   }

   &:hover img {
      transform: scale(1.1)rotate(2deg);
      filter: brightness(90%);

   }

   @include respond(ipad) {
      width: 30rem;
      box-shadow: 0px 1px 5px black;
   }

   @include respond(phone) {
      width: inherit;
      margin: 0;
   }
}

.project {
   &__content {
      // background-color: $colorProject;
      color: $colorCard;
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column;
      position: relative;
     
      p {
         font-size: 1.1rem;

      }

      @include respond(ipad) {
         padding: 0 1rem;
      }

      /*this is for links show at the bottom of the container, but only in desktop, so in mobile and ipad is not a lot of empty space*/
      @media screen and (min-width: 900px) {
         height: 300px;

      }
      a{
         text-underline-offset: 5px;
   
        }
   }

   &__tittle h3 {
      font-size: 2rem;
      margin-bottom: .3rem;
      color: $colorCard;
      // color: #000;
      @include fontUno;
   }

   @include respond(phone) {
      &__tittle h3 {
         margin-top: 1.5rem;
      }
   }

   &__description {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      &::-webkit-scrollbar{
         width: 3px;}
      @media screen and (min-width: 900px) {
         max-height: 10rem;
         overflow-y: auto;
       
      }
      

      p {
         font-size: 1.2rem;

      }
   }

   &__tecnology {
      display: flex;
      /* width: 100vw; */
      justify-content: center;
      flex-wrap: wrap;
      margin-top: .7rem;
      padding-top: .7rem;
      // font-size: .5rem;
      border-top: 1px solid;

      border-color: rgba($color: $colorTittle, $alpha: .2);
   }

   &__tecnology span {
      padding: 0 .2rem;
      //margin-bottom: 1rem;
      color: $colorCard;
      transform: scale(.9);
      transition: all .1s ease;

 

      @include fontUno;

      &:hover {
         transform: rotate(5deg);
      }

   }

   &__link {
      /* border: 1px solid purple; */
      display: flex;
      gap: 1rem;
      font-weight: 1000;
      padding: 1rem 0;
      
      /*this is for links show at the bottom of the container, but only in desktop, so in mobile and ipad is not a lot of empty space*/
color: #fff;
      @media screen and (min-width: 900px) {
         position: absolute;
         bottom: 0;
         left: 2rem;
      }


   }

   &__link :hover {
      //00992D | ff9d00
      color: #ff9d00;
      // color: $colorPurprle;

   }

   &__link--github {
      transform: scale(1.7);

   }

   &__link a {
      text-decoration: underline;
      text-transform: none;
      color: $colorCard;
      font-size: 1.1rem;
      font-family: 'Ibarra Real Nova', serif;

   }
  

}