#bajo{
   background: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(0,150,255,1) 15%, rgba(0,212,255,1) 100%);  
   border-radius: 10px;    
   position: relative;

   width:100%;
   height: 100%;
   margin: 1rem auto;
   margin-top: 4rem;

   @media screen and (max-width: 750px) {
      width: auto;
      height: auto;
      margin: 0;
      width: 100vw;
              padding-bottom: 15rem;
              background: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(0,150,255,1) 5%, rgba(0,212,255,1) 100%);  
   }
}
.proyectos{
   position: relative;
   width: 70vw;
   height: 100%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   align-items: center;
   justify-items: center;
   justify-content: center;
   margin: auto;
   height: 100vh;
  @include respond(desktop){
   grid-template-columns: 1fr;
   width: 100vw;
   gap: 2rem;
  }
}


.container__project{
   /* border: 2px solid red; */
   display: flex;
   box-shadow: 0px 2px 16px -4px   black;
   width: 900px;
   max-width: 450px;
   flex-direction: column;
gap: 2rem;
   // margin: 3% 5%;
   margin-bottom: 2rem;
   padding-bottom: 1rem;
   border-radius: 3px;
   padding: 1rem .7rem;
   
   background-color: rgba(255, 255,255,.2);

   @include respond(ipad){
         margin: 0;
          max-width: 600px; 
          max-height: unset;
          flex-direction:row;
          gap: .5rem;
      
   }
   @include respond(phone){
     
  
      padding-bottom: .5rem;
      width: auto;
      box-shadow: 0px 2px 7px -4px   black;
      padding:  0;
      flex-direction: column;
    
   }
   }

   
   .project__img{
      max-width: 100%;
     height: 20rem;
     margin: auto .5rem;
     position: relative;
     overflow: hidden;
     box-shadow: 0px 0px 2px   black;
     @include respond(ipad){
         min-width: 14rem;
         max-width: 14rem;
         height: 12rem;
     }
     @include respond(phone){
      min-width: 100%;
      height: 12rem;
  }
     img{
      transition: all .2s ease-out;
      height: 5rem;
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 5px black;
      /* filter: brightness(.8);  */
   }
   &:hover img{
      transform: scale(1.1);
      filter: brightness(80%);
      
   }
   @include respond(ipad){
      width: 30rem; 
      box-shadow: 0px 1px 5px   black;
   }
   @include respond(phone){
      width: inherit;
      margin: 0;
   }
}
   
   .project{
      &__content{
         padding: 0 1rem;
       
      }
      &__tittle h3{
         font-size: 2rem;
         margin-bottom: .3rem;
      
      }
      @include respond(phone){
         &__tittle h3{
            margin-top: 1.5rem;
         }
      }
      &__description p{
         margin: .5rem 0;
      }
      &__tecnology{
         display: flex;
         /* width: 100vw; */
         justify-content: center;
      }
      &__tecnology span{
         padding: .2rem;
         color: #232;
      transform: scale(.9);
      
      }
      &__link{
         /* border: 1px solid purple; */
         display: flex;
         gap: 1rem;
         font-weight: 1000;
         padding: 1rem 0;
 
         
      }
      &__link :hover{
         color: #000;
      }
      &__link--github{
         transform: scale(1.3);
       
      }
      &__link a{
         text-decoration: underline; 
         text-transform: none;
       }
       &__content{
         display: flex;
         justify-content: center;
         flex-direction: column;
      }
   }

   
 
   

