*{
   margin: 0;
   padding: 0;
   box-sizing: inherit;
   &::-webkit-scrollbar{
      width: 10px;
      background-color: #0B100C;
      border-radius: 5px;
      @include respond(ipad) {
         width: 4px;

      }
   }
   &::-webkit-scrollbar-thumb{

         background-color: $colorHighlight;
         border-radius: 10px;
         
   
   }
}
body{
   box-sizing: border-box;   
   overflow-x: hidden;
   margin: 0;
   height: 100%;
   //to remove side bar in wrapper
   // overflow-y: hidden;
 
   font-family: 'Darker Grotesque', sans-serif;


}


.wrapper{
   height: 100vh;
   /* if overflow here is inside the class and not the body */
   overflow-y: auto;
   overflow-x: hidden;
   perspective: 10px;
   width: 100vw;
}

.removeBullet{
   list-style: none;
}