$section-tittle:3.5rem;
$section-tittle--medium: 2rem;
$section-tittle--phone:2rem;

$section-subtittle:1.5rem;
$section-subtittle--phone:1.3rem;

$fontMedium:1.5rem;

@mixin fontUno{

   font-family: 'Ibarra Real Nova', serif;

   font-weight: 1000;
}