$section-tittle:4rem;
$section-tittle--medium: 3rem;
$section-tittle--phone:2rem;

$section-subtittle:1.5rem;
$section-subtittle--phone:5rem;

$fontMedium:1.5rem;

@mixin fontUno{

   font-family: 'Ibarra Real Nova', serif;

   font-weight: 1000;
}