$section-tittle:4rem;
$section-tittle--phone:2.7rem;

$section-subtittle:1.5rem;
$section-subtittle--phone:1rem;

$fontMedium:1.5rem;

@mixin fontUno{

   font-family: 'Ibarra Real Nova', serif;

   font-weight: 1000;
}